<section class="login-section">
  <title>Password Reset Result</title>
  <meta http-equiv="refresh" content="<%= success ? 5 : 0 %>;url=<%= success ? '/login' : '/auth/reset-password-new' %>">
</head>
<body>
  <h2><%= message %></h2>
  <% if (success) { %>
    <p>You will be redirected to the <a href="/auth/login">login page</a> shortly.</p>
  <% } else { %>
    <p><a href="/auth/reset-password">Go back to set password again</a></p>
  <% } %>
</section>
